Checks: '-*,-llvmlibc-callee-namespace,bugprone-*,-bugprone-narrowing-conversions,cert-*,-cert-err58-cpp,cppcoreguidelines-*,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-narrowing-conversions,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-init-variables,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-owning-memory,-cppcoreguidelines-non-private-member-variables-in-classes,google-*,-google-readability-namespace-comments,-google-runtime-references,hicpp-*,-hicpp-uppercase-literal-suffix,-hicpp-special-member-functions,-hicpp-explicit-conversions,modermize-*,performance-*,portability-*,readability-*,-readability-implicit-bool-conversion,-readability-magic-numbers,-readability-uppercase-literal-suffix,-readability-else-after-return,-readability-redundant-access-specifiers'
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 1
