Checks: '-*,bugprone-*,-bugprone-narrowing-conversions,cert-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-narrowing-conversions,-cppcoreguidelines-pro-bounds-constant-array-index,google-*,-google-readability-namespace-comments,hicpp-*,-hicpp-uppercase-literal-suffix,misc-*,modermize-*,performance-*,portability-*,readability-*,-readability-implicit-bool-conversion,-readability-magic-numbers,-readability-uppercase-literal-suffix,-readability-else-after-return'